p,h1,h2,h3 {
    font-family: Roboto Mono;
    color: white;
    margin-bottom:0;
    margin-top:0;
    padding-top:0;
    text-align: center;
}

body {
    margin:0;
    padding:0;
    font-family: Roboto Mono;
    background-color: black;
}

button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    width: 14%;
}

#inteditor {
    font-family: Roboto Mono;
    background-color: black;
    border: 2px white solid;
    padding: 20px;
    border-radius: 10px;
    margin:20px auto;
    max-width:30vw;
    padding-top:10px;
}
#buttoncont {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#textarea {
    width:100%; 
    height:10vh; 
    margin-top:1%; 
    resize:vertical;
    font-family: Roboto Mono;
    background-color: black;
    color: white;
}
