p,h1,h2,h3 {
    font-family: Roboto Mono;
    color: white;
    margin-bottom:0;
    margin-top:0;
    padding-top:0;
    text-align: center;
}

body {
    margin:0;
    padding:0;
    font-family: Roboto Mono;
    background-color: black;
}

button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    width: 14%;
}

#inteditor {
    font-family: Roboto Mono;
    background-color: black;
    border: 2px white solid;
    padding: 20px;
    border-radius: 10px;
    margin:20px auto;
    max-width:50vw;
    padding-top:10px;
    margin-top:10vh;
    box-shadow: 0 0 30px 10px #707070;
}

#buttoncont {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

#textarea {
    width:100%; 
    min-height:20vh; 
    margin-top:1.25%; 
    resize:vertical;
    font-family: Roboto Mono;
    background-color: black;
    color: white;
    border: 4px white solid;
    border-radius: 10px;
    padding:4px 2px;
}

#bottomnav {
    background-color: #171717;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:7.5vh;
    left: 0;
    text-align: left;
}

#bottomnav p {
    float: left;
    display: block;
    text-align: center;
    padding: 2vh 1.5%;
}

#logo {
    float: right;
    display: block;
    height:5vh;
    padding: 1.25vh 1.5%;
}

*:focus {
    outline: none;
}

#bottomnav p:hover {
    background-color: black;
}

a {
    color:white;
    text-decoration: none;
}

#descript {
    max-width: 50vw;
    left:50vw;
    text-align: center;
    text-decoration: none;
    color:white;
}